@font-face {
    font-family: 'Block Nine';
    src: url('../../BLOCNN__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 7, 7);
}

.high {
    font-family: 'Block Nine';
    font-size: 1.2em;
    color: white;

}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEE8, #E0f6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms infinite ease-out;
}

.nuvens {
    position: absolute;
    width: 550px;
    animation: nuvens-animation 30s infinite linear;
}

@keyframes pipe-animation {

    from {
        right: -80px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 120px;
    }

    50% {
        bottom: 120px;
    }

    75% {
        bottom: 120px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes nuvens-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes high-addtext {
    from {
        text-transform: none;
    }
}